@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Table

<div class="row text-center text-dark">
    <h2>Add Task To Quadrant</h2>
</div>

@* form that recieves the requested data and then submits it to be added to the database.
 *@
<div class="row center text-center">

    <div class="col-12 " style="border: 1px solid #ccc; padding: 20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <form method="post">
            <input type="hidden" asp-for="TaskId" />

            <label asp-for="Task">Task:</label><br>
            <input asp-for="Task" required /><br><br>

            <label asp-for="DueDate">Due Date:</label><br>
            <input asp-for="DueDate" /><br><br>

            <label asp-for="Quadrant">Quadrant:</label><br>
            <input asp-for="Quadrant" required min="1" max="4" /><br><br>

            @*For loop to go through each of the categories and select the one picked.*@            
            <select asp-for="CategoryId">
                <option value="">Select a Category</option>
                @foreach (Category c in ViewBag.Categories)
                {
                <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select><br /><br />

            <label asp-for="Completed">Completed:</label><br>
            <input type="radio" asp-for="Completed" value="1"  /> True
            <input type="radio" asp-for="Completed" value="0"  /> False<br><br>
            @* <input type="radio" asp-for="Completed" value="True" /> True
            <input type="radio" asp-for="Completed" value="False" /> False<br><br> *@

            <button type="submit">Submit Task</button>
        </form>
    </div>
</div>