@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Management Matrix</h1>
</div>
<br /><br />

<div class="row">

    <div class="col-5">
        <h3>Intro</h3>
        <p>In Steven Covey's book "The 7 Habits of Highly Effective People," he introduces the habit of "Putting First Things First," 
            which emphasizes prioritizing tasks based on importance rather than urgency. Covey suggests organizing tasks into four quadrants 
            based on their urgency and importance. Quadrant I contains tasks that are both urgent and important, such as dealing with emergencies 
            or pressing deadlines. Quadrant II comprises tasks that are important but not urgent, including long-term planning, relationship-building, 
            and personal development. Quadrant III includes tasks that are urgent but not important, like interruptions or distractions that demand 
            immediate attention but offer little long-term value. Quadrant IV consists of tasks that are neither urgent nor important, such as 
            time-wasting activities or trivial matters. Covey emphasizes the importance of spending more time in Quadrant II, focusing on 
            proactive, high-leverage activities that contribute to long-term effectiveness and fulfillment.</p>
    </div>

    <div class="col-7">
        <img src="~/timemanagementmatrix.jpg" style="border: 5px solid #ccc; max-width: 80%; height: auto; display: block; margin: 0 auto;">
    </div>
    
</div>
<br />