@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Management Matrix</h1>
</div>
<br />
<br />
<img src="~/timemanagementmatrix.jpg" style="border: 5px solid #ccc; max-width: 50%; height: auto; display: block; margin: 0 auto;">
<br /><br />
